body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #87CEFA; /* Light blue background */
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 0 1rem; /* 1rem = 16px, adjust based on root font size */
    box-sizing: border-box;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.25rem; /* 1.25rem = 20px */
    background-color: #FFFFFF;
  }
  
  .cnam-logo, .tagamuta-logo {
    height: 3.125rem; /* 3.125rem = 50px */
  }
  
  .title {
    font-size: 1.5rem; /* 1.5rem = 24px */
    font-weight: bold;
    margin-top: 0.625rem; /* 0.625rem = 10px */
  }
  
  .description {
    margin-top: 1.25rem; /* 1.25rem = 20px */
    font-size: 1rem; /* 1rem = 16px */
    text-align: center;
    max-width: 37.5rem; /* 37.5rem = 600px */
  }
  
  .form-container {
    background-color: #D3D3D3;
    padding: 1.875rem; /* 1.875rem = 30px */
    border-radius: 0.625rem; /* 0.625rem = 10px */
    margin-top: 1.875rem; /* 1.875rem = 30px */
    width: 25rem; /* 25rem = 400px */
    max-width: 100%;
    box-sizing: border-box;
  }
  
  .sign-up-header {
    font-size: 1.5rem; /* 1.5rem = 24px */
    font-weight: bold;
    margin-bottom: 1.25rem; /* 1.25rem = 20px */
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input, select {
    margin-bottom: 0.9375rem; /* 0.9375rem = 15px */
    padding: 0.625rem; /* 0.625rem = 10px */
    border-radius: 0.3125rem; /* 0.3125rem = 5px */
    border: 0.0625rem solid #CCCCCC; /* 0.0625rem = 1px */
  }
  
  .register-btn {
    padding: 0.625rem; /* 0.625rem = 10px */
    background-color: #ADD8E6;
    border: none;
    border-radius: 0.3125rem; /* 0.3125rem = 5px */
    cursor: pointer;
    margin-bottom: 0.9375rem; /* 0.9375rem = 15px */
  }
  
  .register-btn:hover {
    background-color: #87CEFA;
  }
  
  form p {
    text-align: center; /* Center the text */
    margin: 0; /* Remove default margin */
  }
  
  .form-footer {
    text-align: center; /* Center the container */
    margin-top: 1rem; /* Add margin to separate it from the buttons */
  }
  
  /* Responsive styles */
  @media (max-width: 48rem) { /* 48rem = 768px */
    .title {
      font-size: 1.25rem; /* 1.25rem = 20px */
    }
    
    .description {
      font-size: 0.875rem; /* 0.875rem = 14px */
      padding: 0 1rem; /* Adjusted padding */
    }
    
    .form-container {
      width: 90%;
      padding: 1.25rem; /* 1.25rem = 20px */
    }
    
    .sign-up-header {
      font-size: 1.25rem; /* 1.25rem = 20px */
    }
  }
  
  @media (max-width: 30rem) { /* 30rem = 480px */
    .header {
      flex-direction: column;
      align-items: center;
    }
  
    .cnam-logo, .tagamuta-logo {
      height: 2.5rem; /* 2.5rem = 40px */
    }
  
    .title {
      font-size: 1.125rem; /* 1.125rem = 18px */
    }
    
    .description {
      font-size: 1.125rem; /* 1.125rem = 18px */
  }
}
  