<div class="container">
  <div class="header">
    <img src="assets/cnam-logo.png" alt="CNAM Logo" class="cnam-logo">
    <div class="title">Bienvenue au  TacNam</div>
    <img src="assets/tagamuta-valley-logo.png" alt="Tagamuta Valley Logo" class="tagamuta-logo">
  </div>
  <div class="description">
    <p>TacNam est un service développé par Tagamuta Valley pour faciliter les demandes et la gestion de l'APCI.  </p>
  </div>
  <div class="form-container">
    <div class="sign-up-header">S'inscrire</div>
    <form (ngSubmit)="register()">
      <input type="text" [(ngModel)]="name" name="name" placeholder="Nom" required>
      <input type="email" [(ngModel)]="email" name="email" placeholder=" Addresse Email" (input)="deduceRole()" required>
      <input type="password" [(ngModel)]="password" name="password" placeholder="mot de passe" required>
      <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirmer mot de Passe" required>
      <button type="submit" class="register-btn">Créer un compte</button>
      <p>Vous avez déjà un compte ?</p>
      <button type="button" (click)="navigateToLogin()" class="register-btn">Se connecter</button>
    </form>
  </div>
</div>
